.funny-glasses {
    position: relative;
    bottom: 7em;
    left: 13em;
}

.bandana {
    position: absolute;
    top: 11em;
    left: 7em;
}

.pawprint {
    position: fixed;
    top: 3em;
    left: 4em;
}

.luna {
    position: sticky;
    left: 0em;
}

.top-hat {
    z-index: 1;
}